*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    font-family: 'roboto', sans-serif;
}

:root{
    --main-color: #5e17eb;
    --second-color: #a888f0;
    --bg-color: #1d1d1d;
    --second-bg: #2c2c2c;
    --white: #fff;
}

body{
    font-size: arial;
    background-color: var(--second-bg);
}

.container{
    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(245,242,242,0.12);
}

h1{
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
    color: var(--white);
}

p{
    margin-bottom: 1.8rem;
    font-size: 1.2rem;
    text-align: center;
    color: var(--white);
}
 img{
    display: block;
    max-width: 250px;
    margin: 50px auto;
 }
#numbers{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.number{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--main-color);
    text-align: center;
    line-height: 60px;
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
}

button{
    margin: 0 auto;
    display: block;
    padding: 0.8rem 1.1rem;
    color: var(--white);
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    background: var(--second-color);
}

@media (max-width: 500px){
    p{
        font-size: 0.8rem;
        margin-top: 1.3rem;
    }
}